<div class="all-wrapper menu-side">
  <div class="layout-w">
    <div class="menu-mobile menu-activated-on-click color-scheme-dark">
    </div>
    <div class="content-w">
      <ul class="breadcrumb">
        <% if @form_submission.new_record? %>
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/form_submissions">Form submissions</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">New form submission</a>
          </li>
        <% else %>
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/form_submissions">Form submissions</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Edit form submission</a>
          </li>
        <% end %>  
      </ul>
      <div class="content-i">
        <div class="content-box"><div class="row">
<div class="col-lg-12">
<div class="element-wrapper">
  <div class="element-box">
    <% if @form_submission.new_record? %>
      <div class="form-group">
        <p class="addnewcomm">New form submission</p>
      </div> 
    <% else %>
      <div class="form-group">
        <p class="addnewcomm">Edit form submission</p>
      </div>
    <% end %>    
      <div class="form-group">
        <label for="" class="enter-a-community-na">First Name*</label>
        <%= f.text_field :first_name, class: "form-control which-part-will-be-c", placeholder: "Eg: Brewer", required: true %>
      </div>
      <div class="form-group">
        <label for="" class="enter-a-community-na">Last Name*</label>
        <%= f.text_field :last_name, class: "form-control which-part-will-be-c", placeholder: "Eg: Brewer", required: true %>
      </div>
      <div class="form-group">
        <label for="" class="enter-a-community-na">Email*</label>
        <%= f.text_field :email, class: "form-control which-part-will-be-c", placeholder: "Eg: gateway@gmail.com", required: true %>
      </div>
      <div class="form-group">
        <label for="" class="enter-a-community-na">When are you planning to buy home*</label>
        <%= f.text_field :planning, class: "form-control which-part-will-be-c", placeholder: "Eg: 8month", required: true %>
      </div>
      <div class="form-group">
        <label for="" class="enter-a-community-na">Additional Info*</label>
        <%= f.text_field :additional_info, class: "form-control which-part-will-be-c", placeholder: "Eg: Brewer", required: true %>
      </div>
      <div class="form-group">
        <label for="" class="enter-a-community-na">Attachment*</label>
        <%= f.text_field :attachment, class: "form-control which-part-will-be-c", placeholder: "Eg: file_name.docs", required: true %>
      </div>
      <div class="form-group">
        <label for="" class="enter-a-community-na">Show source url*</label>
        <%= f.text_field :source_url, class: "form-control which-part-will-be-c", placeholder: "Eg:", required: true %>
      </div>
      
      <% if @form_submission.new_record? %>
        <div class="form-buttons-w">
          <%= f.submit :"SAVE AND PUBLISH", class: "mr-2 mb-2 btn btn-success draft1",name: "visibility" %>
          <%= f.submit :"SAVE AS DRAFT", class: "mr-2 mb-2 btn btn-default draft" %>
        </div>
      <% else %>
        <%#= f.submit :"UPDATE", class: "button-background" %>
        <%= f.submit :"UPDATE", class: "mr-2 mb-2 btn btn-succ update" %>
        <%= link_to "DELETE", form_submission_path(form_submission.id) , method: :delete, class: "mr-2 mb-2 btn btn-dan update1"%>
      <% end %>   
  </div>
</div>
</div>
</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>  
<script type="text/javascript">  
  $('#floorplanimage').cloudinary_upload_widget(
    { cloud_name: 'gateway-lifestyle', upload_preset: 'ecaya9l1', 
      cropping: 'server', folder: 'user_photos',
      cropping_show_dimensions: "true",
      theme: "white",
      gravity: "custom",
      moderation: "webpurify" },
    function(error, result) 
    { 
      if(error == null){
        $("#uploaded_logo1").html('<img src="'+result[0]["thumbnail_url"]+'">')
      } 
    });
</script>
<script> 
  $( document ).ready(function() {
    $("#new_home_layout").validate({
      errorElement: 'span',
      errorClass: 'desc',
      rules: {
        "home_layout[name]": {
         required: true
        },
        "home_layout[feature_title1]": {
         required: true,
        },
        "home_layout[feature_title2]": {
         required: true
        },
        "home_layout[feature_title3]": {
         required: true
        },
        "home_layout[feature_title4]": {
         required: true
        }
      }    
    }); 
  });
</script>