
<div class="container">
  <% if @form_submission.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@form_submission.errors.count, "error") %> prohibited
        this formsubmission from being saved:
      </h2>
      <ul>
        <% @form_submission.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for @form_submission do |f| %>
    <%= render partial: 'form', locals: {form_submission: @form_submission, f: f}%>
  <% end %>
</div>



 