<div class="all-wrapper menu-side">
  <div class="layout-w">
    <div class="content-w">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/form_submissions/new">Form submissions</a>
        </li>
      </ul>
      <div class="content-i">
        <div class="content-box">
          <div class="element-wrapper">
            <h6 class="hed">
              Form submissions
            </h6>
            <!-- <a href="/home_layouts/new" class="mr-2 mb-2 btn btn-outline-primary add-community" role="button"><b class="text_center">+ ADD NEW LAYOUT </b></a> -->
            <div class="element-box">
              <div class="table-responsive full-width-tab">
                <table id="dataTable1" width="100%" class="table table-striped table-lightfont">
                  <thead>
                    <tr class="ss1">
                      <th>First name</th>
                      <th>Last name</th>
                      <th>Phone</th>
                      <th>Email</th>
                      <th>When are you planning to buy home</th>
                      <th>Additional info</th>
                      <th>Attachment</th>
                      <th>Show source url</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                   <% @form_submissions.each do |form_submission| %>
                      <tr>
                        <td data-link="<%= edit_form_submission_path(form_submission) %>", style='cursor: pointer'>
                          <%= form_submission.first_name %>      
                        </td>
                        <td data-link="<%= edit_form_submission_path(form_submission) %>", style='cursor: pointer'><%= form_submission.last_name %></td>
                        <td data-link="<%= edit_form_submission_path(form_submission) %>", style='cursor: pointer'><%= form_submission.phone %></td>
                        <td data-link="<%= edit_form_submission_path(form_submission) %>", style='cursor: pointer'><%= form_submission.email %></td>
                        <td data-link="<%= edit_form_submission_path(form_submission) %>", style='cursor: pointer'><%= form_submission.planning %></td>
                        <td data-link="<%= edit_form_submission_path(form_submission) %>", style='cursor: pointer'><%= form_submission.additional_info %></td>
                        <td data-link="<%= edit_form_submission_path(form_submission) %>", style='cursor: pointer'><%= form_submission.attachment %></td>
                        <td data-link="<%= edit_form_submission_path(form_submission) %>", style='cursor: pointer'><%= form_submission.source_url %></td>
                        
                        <td>
                          <div class="mr-2 mb-2 btn btn-link delte" data-target ="#myModal_<%= form_submission.id %>" data-toggle = "modal">Delete</div>
                        </td> 
                       <!--  <td><%#= link_to 'Edit', edit_community_path(community) %></td> -->
                      </tr>
                      <div class="modal fade" id="myModal_<%= form_submission.id %>" role="dialog">
                        <div class="modal-dialog modal-sm">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Delete this submission?</h4>
                              <button type="button" class="close close1" data-dismiss="modal">&times;</button>
                              
                            </div>
                            <div class="modal-body">
                              <p>Are you sure you want to delete <%= form_submission.first_name %> ? This is permanent and cannot be reversed.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
                              <%= link_to "DELETE", form_submission_path(form_submission.id) , method: :delete, class: "mr-2 mb-2 btn btn-danger"%>    
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="display-type"></div>
</div>

<script type="text/javascript">
  $("td[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>