<div class="auth-box-w">
  <div class="logo-w">
    <img alt="" src="/assets/logo-big.png">
  </div>
  <h4 class="auth-header">
    Login Form
  </h4>
  <%= form_tag(static_login_admin_login_index_path, method: :post) do %>
    <div class="form-group">
      <label for="">Username</label>
      <%= text_field_tag 'email', nil, class: 'form-control', placeholder: "Enter your username or email" %>
      <div class="pre-icon os-icon os-icon-user-male-circle"></div>
    </div>
    <div class="form-group">
      <label for="">Password</label>
       <%= password_field_tag 'password', nil, class: 'form-control', placeholder: "Enter your password" %>

      <div class="pre-icon os-icon os-icon-fingerprint"></div>
    </div>
    <div class="buttons-w">
      <%= submit_tag 'Log me in', {class: 'btn btn-primary'} %>
      <div class="form-check-inline">
        <label class="form-check-label"><input class="form-check-input" type="checkbox">Remember Me</label>
      </div>
    </div>
  <% end %>
</div>

