<div class="all-wrapper menu-side">
  <div class="layout-w">
    <div class="menu-mobile menu-activated-on-click color-scheme-dark">
    </div>
    <div class="content-w">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/pdf_info_packs">Pdf Info Packs</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">New Pdf Info</a>
        </li>
      </ul>
      <div class="content-i">
        <div class="content-box"><div class="row">
<div class="col-lg-12">
<div class="element-wrapper">
  <div class="element-box">
      <% if @pdf_info_packs.new_record? %>
        <div class="form-group">
          <p class="addnewcomm">New Info Pack</p>
        </div>
      <% else %>
        <div class="form-group">
          <p class="addnewcomm">Edit Info Pack</p>
        </div>
      <% end %>
      <div class="form-group">
        <label for="">Name*</label>
        <%= f.text_field :name, class: "form-control", required: true, placeholder: "Name of pdf", required: true %>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group file">
            <%-unless @pdf_info_packs.new_record? %>
              <label for="" class="enter-a-community-na">PDF upload*</label>
              <div>
                <iframe src=<%= @pdf_info_packs.info_pdf %> width="100%" height="180" style="border: none;"> </iframe>
              </div>  
              <label for="pdf_info" class="cloudinaryy click-here-to-upload">CLICK HERE TO UPLOAD</label> 

              <%= f.file_field :info_pdf, class: "pdffile", id: "pdf_info", style: "visibility:hidden;", accept: "application/pdf" %>
              <p class="file-name" style="display: none;"></p>
            <%-else %>
              <div id="uploaded_logo2">
              </div>
              <label for="" class="enter-a-community-na">PDF*</label><br>
              <label for="pdf_info" class="cloudinaryy click-here-to-upload">CLICK HERE TO UPLOAD</label>
              <%= f.file_field :info_pdf, class: "pdffile", id: "pdf_info", style: "visibility:hidden;", accept: "application/pdf" %>
              <p class="file-name" style="display: none;"></p>
            <% end %>
              <p class="min-width-450-px-in-a" >This is the downloadable file</p>
            <div class="help-block form-text with-errors form-control-feedback"></div>
          </div>
        </div>
      </div>  
      <div class="form-group">
        <%= f.label("Generic") %>
        <%= f.check_box(:featured) %>
      </div>  
      <% if @pdf_info_packs.new_record? %>
        <div class="form-buttons-w">
          <%= f.submit :"SAVE", class: "mr-2 mb-2 btn btn-success draft1" , name: "visibility_submit"%>
        </div>
      <% else %>
        <%= f.submit :"SAVE", class: "mr-2 mb-2 btn btn-succ update" %>
        <%= link_to "DELETE", pdf_info_pack_path(@pdf_info_packs.id) , method: :delete, class: "mr-2 mb-2 btn btn-dan update1" %>
      <% end %>  
  </div>
</div>
</div>
</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('input[type="file"]').change(function(){
    var file_name = $(this).val().replace(/^C:\\fakepath\\/i, '');
    $('.file-name').show();
    $('.file-name').html(file_name);
  });

  $('#new_pdf_info_pack').on('submit',function(){
    var inp_file = $('#pdf_info');
    if(inp_file.val() == ""){
      alert("Please upload file.");
      return false;
    }
  })
</script>