<div class="container">
  <% if @pdf_info_packs.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@pdf_info_packs.errors.count, "error") %> prohibited
        this pdf from being saved:
      </h2>
      <ul>
        <% @pdf_info_packs.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for @pdf_info_packs do |f| %>
    <%= render partial: 'form', locals: {pdf_info_pack: @pdf_info_pack, f: f}%>
  <% end %>
</div>

 