<div class="all-wrapper menu-side">
  <div class="layout-w">
    <div class="content-w">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/pdf_info_packs/new">Pdf Info Pack</a>
        </li>
      </ul>
      <div class="content-i">
        <div class="content-box">
          <div class="element-wrapper">
            <span class="hed">Pdf Info Packs</span>
            <a href="/pdf_info_packs/new" class="mr-2 mb-2 btn btn-outline-primary add-community" role="button">+ ADD NEW INFOPACK</a>
            <div class="element-box box">
              <div class="table-responsive full-width-tab">
                <table id="dataTable1" width="100%" class="table table-striped table-lightfont">
                  <thead>
                    <tr class="ss1">
                      <th>Generic</th>
                      <th>Name</th>
                      <th>Action</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                   <% @pdf_info_packs.each do |pdf_info_pack| %>
                      <tr>
                        <td><%= pdf_info_pack.featured ? true : false %></td>
                        <td data-link="<%= edit_pdf_info_pack_path(pdf_info_pack) %>", style='cursor: pointer'><%= pdf_info_pack.name.truncate(50) %></td>
                        <td>
                          <div class="mr-2 mb-2 btn btn-link delte dll" data-target ="#myModal_<%= pdf_info_pack.id %>" data-toggle = "modal">Delete</div>
                        </td>
                        <td><%= link_to 'Show', pdf_info_pack_path(pdf_info_pack) ,class: "mr-2 mb-2 btn btn-link delte dll1" %></td> 
                      </tr>
                      <div class="modal fade" id="myModal_<%= pdf_info_pack.id %>" role="dialog">
                        <div class="modal-dialog modal-sm">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Delete this pdf?</h4>
                              <button type="button" class="close close1" data-dismiss="modal">&times;</button>
                              
                            </div>
                            <div class="modal-body">
                              <p>Are you sure you want to delete <%= pdf_info_pack.name %> ? This is permanent and cannot be reversed.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default1" data-dismiss="modal">CANCEL</button>
                              <%= link_to "DELETE", pdf_info_pack_path(pdf_info_pack.id) , method: :delete, class: "mr-2 mb-2 btn btn-danger"%>    
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="display-type"></div>
</div>

<script type="text/javascript">
  $("td[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>
<script type="text/javascript">
  $("td[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>