<div class="all-wrapper menu-side">
  <div class="layout-w">
    <div class="content-w">
      <div class="content-i">
        <div class="content-box">
          <div class="element-wrapper">
            <h6>
              Pdf Info Pack
            </h6>
            <p>
			  <strong class="info">Name:</strong>
			  <%= @pdf_info_pack.name %>
			</p>

			<p>
			  <iframe src=<%= @pdf_info_pack.info_pdf %> width="600" height="380" style="border: none;"> </iframe>
			</p>
      <%= link_to 'Back', pdf_info_packs_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="display-type"></div>
</div>

