<div class="all-wrapper menu-side">
  <div class="layout-w">
    <div class="menu-mobile menu-activated-on-click color-scheme-dark">
    </div>
    <div class="content-w">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/community_categories">Categories</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">New category</a>
        </li>
      </ul>
      <div class="content-i">
        <div class="content-box"><div class="row">
<div class="col-lg-12">
<div class="element-wrapper">
  <div class="element-box">
      <% if @community_categories.new_record? %>
        <div class="form-group">
          <p class="addnewcomm">New category</p>
        </div>
      <% else %>
        <div class="form-group">
          <p class="addnewcomm">Edit category</p>
        </div>
      <% end %>
      <div class="form-group">
        <label for="">Name*</label>
        <%= f.text_field :title, class: "form-control", required: true, placeholder: "Used for the URL and in other places (Eg: Aspley)", required: true %>
      </div>
      <div class="form-group">
        <label for=""> Description*</label>
        <%= f.text_area :description, class: "form-control", placeholder: "Start entering the description", rows: "6", required: true %>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="" class="enter-a-community-na">Category Image*</label>
          <%-if @community_categories.image? %>
            <div id="uploaded_image">
              <%= cl_image_tag(@community_categories.image_url.sub! 'upload', 'upload/w_800,h_400,c_fill') %>
            </div>
            </br>
            <input id="upload_widget_opener7" required="required" accept="image/png" type="button" name="community_category[image]" aria-required="true" value="upload">
          <%-else %>
            <div id="uploaded_image">
            </div>
            <%= f.file_field :image, class: "pdffile", id: "upload_widget_opener7", style: "visibility:hidden;" %>
          <% end %>
          <p class="min-width-450-px-in-a">900px(w) X 686px(h)</p>
          <div class="help-block form-text with-errors form-control-feedback"></div>
        </div>
      </div>
     <!--  <div class="form-group">
        <#% if @community_categories.new_record? %>
        <%#= f.hidden_field(:publish) %>
      <#% else %>
        <%#= f.label(:publish) %>
        <%#= f.check_box(:publish) %>
      <#% end %> 
      </div>   -->
      <% if @community_categories.new_record? %>
        <div class="form-buttons-w">
          <%= f.submit :"SAVE", class: "mr-2 mb-2 btn btn-success draft1" , name: "publish_submit"%>
        </div>
      <% else %>
        <%= f.submit :"SAVE", class: "mr-2 mb-2 btn btn-succ update" %>
        <%= link_to "DELETE", community_category_path(@community_categories.id) , method: :delete, class: "mr-2 mb-2 btn btn-dan update1" %>
      <% end %>  
  </div>
</div>
</div>
</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#new_community_category').on('submit',function(){
    var logo = $('#upload_widget_opener7');
    if(logo.val() == "" ){
      alert("Please upload image.");
      return false;
    }
  })
</script>
<script> 
  $( document ).ready(function() {
    $("#new_community_category").validate({
      errorElement: 'span',
      errorClass: 'desc',
      rules: {
        "community_category_title": {
         required: true
        },

        "community_category_description": {
         required: true,
        },
      }    
    });  
  });
</script>
<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>  
<script type="text/javascript">  
  $('#upload_widget_opener7').cloudinary_upload_widget(
    { cloud_name: 'gateway-lifestyle', upload_preset: 'ecaya9l1', 
      cropping: 'server', folder: 'user_photos',
      cropping_show_dimensions: "true",
      theme: "white",
      gravity: "custom",
      moderation: "webpurify",
      multiple: false },
      function(error, result) { 
        if(error == null){
          $("#uploaded_image").html('<img src="'+result[0]["thumbnail_url"]+'">')
        }
        else{
          alert(error)
        }
      });
</script>