<div class="all-wrapper menu-side">
  <div class="layout-w">
    <div class="content-w">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/community_categories/new">Categories</a>
        </li>
      </ul>
      <div class="content-i">
        <div class="content-box">
          <div class="element-wrapper">
            <span class="hed">Categories</span>
            <a href="/community_categories/new" class="mr-2 mb-2 btn btn-outline-primary add-community" role="button">+ ADD NEW CATEGORIES</a>
            <div class="element-box box">
              <div class="table-responsive full-width-tab">
                <table id="dataTable1" width="100%" class="table table-striped table-lightfont">
                  <thead>
                    <tr class="ss1">
                      <th>Category Image</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                   <% @community_categories.each do |community_category| %>
                      <tr>
                        <td data-link="<%= edit_community_category_path(community_category) %>", style='cursor: pointer'>
                          <% if community_category.image.present? %>
                            <%= cl_image_tag(community_category.image_url.to_s , :size => "140x80", :crop => :fill) %>
                          <% end %>      
                        </td>
                        <td data-link="<%= edit_community_category_path(community_category) %>", style='cursor: pointer'><%= community_category.title.truncate(50) %></td>
                        <td data-link="<%= edit_community_category_path(community_category) %>", style='cursor: pointer'><%= community_category.description.truncate(50) %></td>
                        <td>
                          <div class="mr-2 mb-2 btn btn-link delte" data-target ="#myModal_<%= community_category.id %>" data-toggle = "modal">Delete</div>
                        </td> 
                       <!--  <td><%#= link_to 'Edit', edit_community_path(community) %></td> -->
                      </tr>
                      <div class="modal fade" id="myModal_<%= community_category.id %>" role="dialog">
                        <div class="modal-dialog modal-sm">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Delete this category?</h4>
                              <button type="button" class="close close1" data-dismiss="modal">&times;</button>
                              
                            </div>
                            <div class="modal-body">
                              <p>Are you sure you want to delete <%= community_category.title %> ? This is permanent and cannot be reversed.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default1" data-dismiss="modal">CANCEL</button>
                              <%= link_to "DELETE", community_category_path(community_category.id) , method: :delete, class: "mr-2 mb-2 btn btn-danger"%>    
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="display-type"></div>
</div>

<script type="text/javascript">
  $("td[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>