
<p>
  <strong>Short Name:</strong>
  <%= @community_category.title %>
</p>
 
<p>
  <strong>Primary Color</strong>
  <%= @community_category.description %>
</p>

<%= link_to 'Edit', edit_community_category_path(@community_category) %>