<div class="all-wrapper menu-side">
  <div class="layout-w">
    <div class="content-w">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/events">Events</a>
        </li>
      </ul>
      <div class="content-i">
        <div class="content-box">
          <div class="element-wrapper">
            <span class="hed" style="margin-left: 0px;">Events</span>
            <br><br>
            <p style="width: 50%;">Events cannot be added,edited or deleted here. They are automatically added to the site and linked to communities when they are created in Eventbrite. To do any of the above, go to Eventbrite.</p>
            <br>
            <div class="element-box box">
              <div class="table-responsive">
                <table id="dataTable1" width="100%" class="table table-striped table-lightfont">
                  <thead>
                    <tr class="ss1">
                      <th>Name</th>
                      <th>Description</th>
                      <th>Community</th>
                      <th>Start time</th>
                      <th>End time</th>
                      <th>Category</th>
                      <th>Organizer</th>
                      <th>Action</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @events.each do |event| %>
                      <tr>
                        <td><%= event.name.truncate(50) %></td>
                        <!-- <td><%#= event.description.truncate(200) %></td> -->
                        <td><%= truncate(event.description, :length => 50) %></td>
                        <td><%= event.community.try(:first_name).try(:truncate,50)%></td>
                        <td><%= event.try(:start_time).strftime("%b %d, %Y %I:%M %p") if event.start_time.present? %></td>
                        <td><%= event.end_time.strftime("%b %d, %Y %I:%M %p") if event.end_time.present? %></td>
                        <td><%= event.category %></td>
                        <td><%= event.organizer %></td>
                        <td>
                          <div class="mr-2 mb-2 btn btn-link delte" data-target ="#myModal_<%= event.id %>" data-toggle = "modal">Delete</div>
                        </td>
                      </tr>
                      <div class="modal fade" id="myModal_<%= event.id %>" role="dialog">
                        <div class="modal-dialog modal-sm">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Delete this event?</h4>
                              <button type="button" class="close close1" data-dismiss="modal">&times;</button>
                              
                            </div>
                            <div class="modal-body">
                              <p>Are you sure you want to delete <%= event.name %> event? This is permanent and cannot be reversed.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default1" data-dismiss="modal">CANCEL</button>
                              <%= link_to "DELETE", event_path(event.id) , method: :delete, class: "mr-2 mb-2 btn btn-danger"%>    
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="display-type"></div>
</div>