<div class="all-wrapper menu-side">
  <div class="layout-w">
    <div class="content-w">
      <div class="content-i">
        <div class="content-box">
          <div class="element-wrapper">
            <h6>
              Event
            </h6>
      <p>
        <strong class="info">Name:</strong>
        <%= @event.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @event.description %>
      </p>

      <p>
        <strong>Start time:</strong>
        <%= @event.start_time.strftime("%b %d, %Y %I:%M %p") %>
      </p>

      <p>
        <strong>End time:</strong>
        <%= @event.end_time.strftime("%b %d, %Y %I:%M %p") %>
      </p>

      <p>
        <strong>Category:</strong>
        <%= @event.category %>
      </p>
      <p>
        <strong>Organizer:</strong>
        <%= @event.organizer %>
      </p>
      <p>
        <strong>Event URL:</strong>
        <%= @event.event_url %>
      </p>
        <%= link_to 'Back', events_path, class: 'btn btn-primary' %>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>



