<div class="all-wrapper menu-side">
  <div class="layout-w">
    <div class="menu-mobile menu-activated-on-click color-scheme-dark">
    </div>
    <div class="content-w">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/home_for_sales">Home For Sale</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Edit Home For Sale</a>
        </li>
      </ul>
      <div class="content-i">
        <div class="content-box">
          <div class="row">
	          <div class="col-lg-12">
				<div class="element-wrapper">
	  			  <div class="element-box">
					<%= form_with(model: @home_for_sale, local: true) do |f| %>
				      <div class="form-group">
				        <label for="">Project</label>
				        <%= f.text_field :project_name, class: "form-control", readonly: true %>
				      </div>
				      <div class="form-group">
				        <label for="">Status</label>
				        <%= f.text_field :status, class: "form-control", readonly: true %>
				      </div>
				      <div class="form-group">
				        <label for="">Condition</label>
				        <%= f.text_field :record_type, class: "form-control", readonly: true %>
				      </div>
				      <div class="form-group">
				        <%= f.label(:featured) %>
				        <%= f.check_box(:featured) %>
				      </div>  
				      <div class="actions">
					    <%= f.submit "SAVE", class: "mr-2 mb-2 btn btn-succ update" %>
					    <%= link_to "BACK", home_for_sales_path, class: "mr-2 mb-2 btn btn-dan update1" %>
					  </div>
					<% end %>
	 
	  			  </div>
				</div>
			  </div>
		  </div>
        </div>
      </div>
    </div>
  </div>
</div>