<div class="all-wrapper menu-side">
  <div class="layout-w">
    <div class="content-w">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/communities/new">Home for sale</a>
        </li>
      </ul>
      <div class="content-i">
        <div class="content-box">
          <div class="element-wrapper">
            <span class="hed">Homes For sale</span>
            <div class="element-box">
              <div class="table-responsive">
                <table id="dataTable1" width="100%" class="table table-striped table-lightfont">
                  <thead>
                    <tr class="ss1">
                      <th>Address</th>
                      <th>Community</th>
                      <th>Home Design</th>
                      <th>Condition</th>
                      <th>Status</th>
                      <th>Bedroom</th>
                      <th>Bathroom</th>
                      <th>Parking</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%@home_for_sale.each do |home_for_sale| %>
                      <tr>
                        <td data-link="<%= edit_home_for_sale_path(home_for_sale) %>", style='cursor: pointer'> <%= home_for_sale.address.truncate(50) %></td>
                        <td data-link="<%= edit_home_for_sale_path(home_for_sale) %>", style='cursor: pointer'><%= home_for_sale.community.try(:first_name).try(:truncate,50) %></td>
                        <td data-link="<%= edit_home_for_sale_path(home_for_sale) %>", style='cursor: pointer'> <%= home_for_sale.house_design_type.truncate(50) %></td>    
                        <td data-link="<%= edit_home_for_sale_path(home_for_sale) %>", style='cursor: pointer'><%= home_for_sale.record_type %></td>
                        <td data-link="<%= edit_home_for_sale_path(home_for_sale) %>", style='cursor: pointer'> <%= home_for_sale.status %></td> 
                        <td data-link="<%= edit_home_for_sale_path(home_for_sale) %>", style='cursor: pointer'> <%= home_for_sale.no_of_bedrooms %></td>
                        <td data-link="<%= edit_home_for_sale_path(home_for_sale) %>", style='cursor: pointer'><%= home_for_sale.no_of_bathrooms %></td>
                        <td data-link="<%= edit_home_for_sale_path(home_for_sale) %>", style='cursor: pointer'><%= home_for_sale.car_space %></td>
                        <td>
                          <div class="mr-2 mb-2 btn btn-link delte" data-target ="#myModal_<%= home_for_sale.id %>" data-toggle = "modal">Delete</div>
                        </td> 
                      </tr>
                      <div class="modal fade" id="myModal_<%= home_for_sale.id %>" role="dialog">
                        <div class="modal-dialog modal-sm">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Remove Home from the Site?</h4>
                              <button type="button" class="close close1" data-dismiss="modal">&times;</button>
                              
                            </div>
                            <div class="modal-body">
                              <p>Are you sure you want to remove <%= home_for_sale.address %> from the site ?. To add it in again ,you will need to re-sync it from Salesforce. This only removes the home from this site.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
                              <%= link_to 'DELETE', 
                                home_for_sale_path(home_for_sale), method: :delete, class: "mr-2 mb-2 btn btn-danger" %>  
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("td[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>