<h1>Contacts#index</h1>
<p>Find me in app/views/contacts/index.html.erb</p>
<a href="/contacts/new">Add Contacts</a>
<ul>
<% @contacts.each do |contact| %>
<li><%= contact.Name %></li>
<% end %>
</ul>