<div class="all-wrapper menu-side">
  <div class="layout-w">
    <div class="menu-mobile menu-activated-on-click color-scheme-dark">
    </div>
    <div class="content-w">
      <ul class="breadcrumb">
        <% if @home_layout.new_record? %>
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/home_layouts">Home layouts</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">New home layout</a>
          </li>
        <% else %>
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/home_layouts">Home layouts</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Edit home layout & designs</a>
          </li>
        <% end %>  
      </ul>
      <div class="content-i">
        <div class="content-box"><div class="row">
<div class="col-lg-12">
<div class="element-wrapper">
  <div class="element-box">
    <% if @home_layout.new_record? %>
      <div class="form-group">
        <p class="addnewcomm">New home layout</p>
      </div> 
    <% else %>
      <div class="form-group">
        <p class="addnewcomm">Edit home layout</p>
      </div>
    <% end %>    
      <div class="form-group">
        <label for="" class="enter-a-community-na"> Name of the design*</label>
        <%= f.text_field :name, class: "form-control which-part-will-be-c", placeholder: "Eg: Brewer", required: true %>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
          <label for="" class="enter-a-community-na">Floorplan image*</label>
            <%-if @home_layout.floorplan_image? %>
            <div id="uploaded_logo1">
              <%= cl_image_tag(@home_layout.floorplan_image_url(:thumb).sub! 'upload', 'upload/w_400,h_400,c_fill') %>
            </div>
            </br>
            <input class="form-control which-part-will-be-c" id="floorplanimage" type="file" name="home_layout[floorplan_image]" style="display: none;">
          <%-else %>
            <div id="uploaded_logo1">
            </div>
            <%= f.file_field :floorplan_image, class: "pdffile", id: "floorplanimage", style: "visibility:hidden;" %>
          <% end %>
            <div id="views"></div>
            <p class="min-width-450-px-in-a">Min. 200px height. Recommended 400px height.</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group file">
            <%-if @home_layout.floorplan_pdf? %>
              <label for="" class="enter-a-community-na">PDF upload*</label>
              <div id="uploaded_logo2">
                <iframe src=<%= @home_layout.floorplan_pdf %> width="100%" height="180" style="border: none;" id="viewer"> </iframe>
              </div>  
              <label for="home_layout_floorplan_pdf" class="cloudinaryy click-here-to-upload">CLICK HERE TO UPLOAD</label> 

              <%= f.file_field :floorplan_pdf, class: "pdffile", id: "home_layout_floorplan_pdf", style: "visibility:hidden;", accept: "application/pdf" %>
            <%-else %>
              <div id="uploaded_logo2">
              </div>
              <label for="" class="enter-a-community-na">  Floorplan PDF*</label>
              <img id="img_prev" src="#" alt="your image" style="display: none;" />

              <label for="home_layout_floorplan_pdf" class="cloudinaryy click-here-to-upload">CLICK HERE TO UPLOAD</label>
              <%= f.file_field :floorplan_pdf, class: "pdffile", id: "home_layout_floorplan_pdf", style: "visibility:hidden;", accept: "application/pdf" %>
              <p class="file-name" style="display: none;"></p>
            <% end %>
              <p class="min-width-450-px-in-a" >This is the downloadable file</p>
            <div class="help-block form-text with-errors form-control-feedback"></div>
          </div>
        </div>
      </div>
      <fieldset class="form-group">
        <legend><span class="sales-person ">Feature one</span></legend>
        <div class="form-group">
          <label for="" class="short-name">Feature title*</label>
          <%= f.text_field :feature_title1, class: "form-control which-part-will-be-c", required: true, placeholder: "Add title here" %>
        </div>
        <div class="form-group">
          <label for="" class= "enter-a-community-na">Description*</label>
          <%= f.text_area :description1, class: "form-control description which-part-will-be-c", placeholder: "Add a brief explanation about this benefit", required: true %>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <legend><span class="sales-person ">Feature Two</span></legend>
        <div class="form-group">
          <label for="" class="short-name">Feature title*</label>
          <%= f.text_field :feature_title2, class: "form-control which-part-will-be-c", required: true, placeholder: "Add title here" %>
        </div>
        <div class="form-group">
          <label for="" class= "enter-a-community-na">Description*</label>
          <%= f.text_area :description2, class: "form-control description which-part-will-be-c", placeholder: "Add a brief explanation about this benefit", required: true %>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <legend><span class="sales-person ">Feature Three</span></legend>
        <div class="form-group">
          <label for="" class="short-name">Feature title*</label>
          <%= f.text_field :feature_title3, class: "form-control which-part-will-be-c", required: true, placeholder: "Add title here" %>
        </div>
        <div class="form-group">
          <label for="" class= "enter-a-community-na">Description*</label>
          <%= f.text_area :description3, class: "form-control description which-part-will-be-c", placeholder: "Add a brief explanation about this benefit", required: true %>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <legend><span class="sales-person ">Feature Four</span></legend>
        <div class="form-group">
          <label for="" class="short-name">Feature title*</label>
          <%= f.text_field :feature_title4, class: "form-control which-part-will-be-c", required: true, placeholder: "Add title here" %>
        </div>
        <div class="form-group">
          <label for="" class= "enter-a-community-na">Description*</label>
          <%= f.text_area :description4, class: "form-control description which-part-will-be-c", placeholder: "Add a brief explanation about this benefit", required: true %>
        </div>
      </fieldset>
      <% if @home_layout.new_record? %>
        <div class="form-buttons-w">
          <%= f.submit :"SAVE", class: "mr-2 mb-2 btn btn-success draft1",name: "visibility" %>
        </div>
      <% else %>
        <%#= f.submit :"UPDATE", class: "button-background" %>
        <%= f.submit :"SAVE", class: "mr-2 mb-2 btn btn-succ update" %>
        <%= link_to "DELETE", home_layout_path(home_layout.id) , method: :delete, class: "mr-2 mb-2 btn btn-dan update1"%>
      <% end %>   
  </div>
</div>
</div>
</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#new_home_layout').on('submit',function(){
    var logo = $('#floorplanimage');
    if(logo.val() == "" ){
      alert("Please upload image.");
      return false;
    }
  })
</script>
<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>  
<script type="text/javascript">  
  $('#floorplanimage').cloudinary_upload_widget(
    { cloud_name: 'gateway-lifestyle', upload_preset: 'ecaya9l1', 
      cropping: 'server', folder: 'user_photos',
      cropping_show_dimensions: "true",
      client_allowed_formats: ['jpg', 'png'],
      theme: "white",
      min_image_height: '200',
      gravity: "custom",
      moderation: "webpurify",
      multiple: false },
    function(error, result) 
    { 
      if(error == null){
        $("#uploaded_logo1").html('<img src="'+result[0]["thumbnail_url"]+'">')
      } 
    });
</script>
<script> 
  $( document ).ready(function() {
    $("#new_home_layout").validate({
      errorElement: 'span',
      errorClass: 'desc',
      rules: {
        "home_layout[name]": {
         required: true
        },
        "home_layout[feature_title1]": {
         required: true,
        },
        "home_layout[feature_title2]": {
         required: true
        },
        "home_layout[feature_title3]": {
         required: true
        },
        "home_layout[feature_title4]": {
         required: true
        }
      }    
    }); 
  });
</script>
<script type="text/javascript">
  $('input[type="file"]').change(function(){
    var file_name = $(this).val().replace(/^C:\\fakepath\\/i, '');
    $('.file-name').show();
    $('.file-name').html(file_name);
  });

  $('#new_home_layout').on('submit',function(){
    var inp_file = $('#home_layout_floorplan_pdf');
    if(inp_file.val() == ""){
      alert("Please upload file.");
      return false;
    }
  })
</script>