
<div class="container">
  <% if @home_layout.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@home_layout.errors.count, "error") %> prohibited
        this homelayout from being saved:
      </h2>
      <ul>
        <% @home_layout.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for @home_layout do |f| %>
    <%= render partial: 'form', locals: {home_layout: @home_layout, f: f}%>
  <% end %>
</div>



 