<div class="all-wrapper menu-side">
  <div class="layout-w">
    <div class="content-w">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/home_layouts/new">Home layouts</a>
        </li>
      </ul>
      <div class="content-i">
        <div class="content-box">
          <div class="element-wrapper">
            <span class="hed">Home layouts</span>
            <a href="/home_layouts/new" class="mr-2 mb-2 btn btn-outline-primary add-community" role="button">+ ADD NEW LAYOUT</a>
            <div class="element-box box">
              <div class="table-responsive full-width-tab">
                <table id="dataTable1" width="100%" class="table table-striped table-lightfont">
                  <thead>
                    <tr class="ss1">
                      <th>Image</th>
                      <th>Name of the design</th>
<!--                       <th>Visibility</th> -->
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                   <% @home_layouts.each do |home_layout| %>
                      <tr>
                        <td data-link="<%= edit_home_layout_path(home_layout) %>", style='cursor: pointer'>
                          <% if home_layout.floorplan_image.present? %>
                            <%#= image_tag(community.community_logo_url.to_s, class: "community_logo", size:"10*10") %>
                            <%= cl_image_tag(home_layout.floorplan_image_url.to_s , :size => "140x80", :crop => :fill) %>
                          <% end %>      
                        </td>
                        <td data-link="<%= edit_home_layout_path(home_layout) %>", style='cursor: pointer'><%= home_layout.name.truncate(50) %></td>
                        <!-- <td data-link="<%= edit_home_layout_path(home_layout) %>", style='cursor: pointer'><#% if home_layout.visibility %>    Published
                        <#% else %>
                          Draft
                        <#% end %>  
                        </td> -->
                        <td>
                          <div class="mr-2 mb-2 btn btn-link delte" data-target ="#myModal_<%= home_layout.id %>" data-toggle = "modal">Delete</div>
                        </td> 
                       <!--  <td><%#= link_to 'Edit', edit_community_path(community) %></td> -->
                      </tr>
                      <div class="modal fade" id="myModal_<%= home_layout.id %>" role="dialog">
                        <div class="modal-dialog modal-sm">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Delete this layout?</h4>
                              <button type="button" class="close close1" data-dismiss="modal">&times;</button>
                              
                            </div>
                            <div class="modal-body">
                              <p>Are you sure you want to delete <%= home_layout.name %> ? This is permanent and cannot be reversed.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
                              <%= link_to "DELETE", home_layout_path(home_layout.id) , method: :delete, class: "mr-2 mb-2 btn btn-danger"%>    
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="display-type"></div>
</div>

<script type="text/javascript">
  $("td[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>