
<p>
  <strong>Short Name:</strong>
  <%= @community.short_name %>
</p>
 
<p>
  <strong>Primary Color</strong>
  <%= @community.primary_color %>
</p>
<p>
  <strong>Secondary Color</strong>
  <%= @community.secondary_color %>
</p>
<p>
  <strong>Long Name</strong>
  <%= @community.long_name %>
</p>
<p>
  <strong>Community Logo</strong>
  <%= image_tag(@community.community_logo_url.to_s, class: "community_logo") %>
</p>

<p>
  <strong>Community Icon</strong>
  <%= image_tag(@community.community_icon_url.to_s, class: "community_icon") %>
</p>

<!-- <p>
  <strong>Community Infopack</strong>
  <% #= image_tag(@community.community_infopack_url.to_s, class: "community_infopack") %>
  <iframe src=<%= @community.community_infopack %> width="600" height="780" style="border: none;"> </iframe>
</p> -->
<p>
  <strong>Community Image</strong>
  <%- @community.community_images.each do |image| %>
    <%= image_tag(image.url, class: "community_image") %>
  <% end %>
</p>
<p>
  <strong>Video</strong>
  <% @community.why_live_heres.each do |vv|%>
    <div>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/<%= vv.youtube_url_link %>" frameborder="0" allowfullscreen></iframe></div>
  <% end %>  
</p>  
<p>
  <strong>Facility Image</strong>
  <% @community.community_facilities.each do |facility|%>
    <div>
      <%= image_tag(facility.image_url, class: "community_logo") %>
    </div>
  <% end %>  
</p> 
<p>
  <strong>Activity Image</strong>
  <% @community.activities.each do |activity|%>
    <div>
      <%= image_tag(activity.image_url, class: "community_logo") %>
    </div>
  <% end %>  
</p> 

<%= link_to 'Edit', edit_community_path(@community) %>