<div class="all-wrapper menu-side">
  <div class="layout-w">
    <div class="menu-mobile menu-activated-on-click color-scheme-dark">
    </div>
    <div class="content-w">
      <ul class="breadcrumb">
        <% if @community_offer.new_record? %>
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/community_offers">Offers</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">New offer</a>
          </li>
        <% else %>
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/community_offers">Offers</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Edit offer</a>
          </li>
        <% end %>  
      </ul>
      <div class="content-i">
        <div class="content-box"><div class="row">
<div class="col-lg-12">
<div class="element-wrapper">
  <div class="element-box">
    <% if @community_offer.new_record? %>
      <div class="form-group">
        <p class="addnewcomm">New offer</p>
      </div>
    <% else %>
      <div class="form-group">
        <p class="addnewcomm">Edit offer</p>
      </div>
    <% end %> 
      <div class="form-group">
        <label for="" class="short-name">Offer title*</label>
        <%= f.text_field :title, class: "form-control which-part-will-be-c", required: true, placeholder: "Add title here" %>
      </div>
      <div class="form-group">
        <label for="" class="enter-a-community-na"> Description*</label>
        <%= f.text_area :description, class: "form-control", placeholder: "Start entering the description", required: true, rows: "3", cols: "50" %>
      </div>
       <div class="form-group">
        <label for="" class="enter-a-community-na"> Offer link*</label>
        <%= f.text_field :more_about, class: "form-control which-part-will-be-c", placeholder: "Enter offer link here", required: true %>
      </div>
     <div class="col-sm-6">
      <div class="form-group">
        <label for="" class="enter-a-community-na">Offer Image*</label>
        <%-if @community_offer.image? %>
          <div id="uploaded_image">
            <%= cl_image_tag(@community_offer.image_url.sub! 'upload', 'upload/w_800,h_400,c_fill') %>
          </div>
          </br>
          <input id="upload_widget_opener7" required="required" accept="image/png" type="button" name="community_offer[image]" aria-required="true" value="upload">
        <%-else %>
          <div id="uploaded_image">
          </div>
          <%= f.file_field :image, class: "pdffile", id: "upload_widget_opener7", style: "visibility:hidden;" %>
        <% end %>
        <p class="min-width-450-px-in-a">Min. 526px height by 690px width</p>
        <div class="help-block form-text with-errors form-control-feedback"></div>
      </div>
      </div>
     <!--  <div class="form-group">
        <#% if @community_offer.new_record? %>
        <%#= f.hidden_field(:publish) %>
      <#% else %>
        <%#= f.label(:publish) %>
        <%#= f.check_box(:publish) %>
      <#% end %>  -->
      <!-- </div>   -->
      <% if @community_offer.new_record? %>
        <div class="form-buttons-w">
          <%= f.submit :"SAVE", class: "mr-2 mb-2 btn btn-success draft1" , name: "publish_submit"%>
        </div>
      <% else %>
        <%= f.submit :"SAVE", class: "mr-2 mb-2 btn btn-succ update" %>
        <%= link_to "DELETE", community_offer_path(community_offer.id) , method: :delete, class: "mr-2 mb-2 btn btn-dan update1" %>
      <% end %>   
  </div>
</div>
</div>
</div>
        </div>
      </div>
    </div>
  </div>
</div>

<script> 
  $( document ).ready(function() {
    $("#new_community_offer").validate({
      errorElement: 'span',
      errorClass: 'desc',
      rules: {
        "community_offer_title": {
         required: true
        },

        "community_offer_description": {
         required: true
        },
        "community_offer_more_about": {
         required: true
        },
        "community_offer_image": {
          required: true,
          accept:"png",
          width: 900,
          height: 686
        }
      }    
    });  
  });
</script>
<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>  
<script type="text/javascript">  
  $('#upload_widget_opener7').cloudinary_upload_widget(
    { cloud_name: 'gateway-lifestyle', upload_preset: 'ecaya9l1', 
      cropping: 'server', folder: 'user_photos',
      cropping_show_dimensions: "true",
      theme: "white",
      min_image_width: '690',
      min_image_height: '526',
      client_allowed_formats: ['jpg', 'png'], 
      gravity: "custom",
      moderation: "webpurify",cropping_default_selection_ratio: '1.0',
      multiple: false },
      function(error, result) { 
        if(error == null){
          $("#uploaded_image").html('<img src="'+result[0]["thumbnail_url"]+'">')
        }
      });
</script>
<script type="text/javascript">
  $('#new_community_offer').on('submit',function(){
    var logo = $('#upload_widget_opener7');
    if(logo.val() == "" ){
      alert("Please upload image.");
      return false;
    }
  })
</script>