<div class="all-wrapper menu-side">
  <div class="layout-w">
    <div class="content-w">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/community_offers/new">Offers</a>
        </li>
      </ul>
      <div class="content-i">
        <div class="content-box">
          <div class="element-wrapper">
            <span class="hed">Offers</span>
            <a href="/community_offers/new" class="mr-2 mb-2 btn btn-outline-primary add-community" role="button">+ ADD NEW OFFER</a>
            <div class="element-box box">
              <div class="table-responsive">
                <table id="dataTable1" width="100%" class="table table-striped table-lightfont">
                  <thead>
                    <tr class="ss1">
                      <th>Image</th>  
                      <th>Offer Title</th>
                      <th>Description</th>
                      <th>Link</th>
                      <!-- <th>Visibility</th> -->
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                   <% @community_offer.each do |community_offer| %>
                      <tr>
                        <td data-link="<%= edit_community_offer_path(community_offer) %>", style='cursor: pointer'>
                          <% if community_offer.image.present? %>
                            <%= cl_image_tag(community_offer.image_url.to_s , :size => "160x80", :crop => :fill) %>
                          <% end %>      
                        </td>
                        <td data-link="<%= edit_community_offer_path(community_offer) %>", style='cursor: pointer'><%= community_offer.title.truncate(50) %></td>
                        <td data-link="<%= edit_community_offer_path(community_offer) %>", style='cursor: pointer'><%= community_offer.description.truncate(50) %></td>
                        <td data-link="<%= edit_community_offer_path(community_offer) %>", style='cursor: pointer'><%= community_offer.more_about.truncate(50) %></td>
                        <!-- <td data-link="<%= edit_community_offer_path(community_offer) %>", style='cursor: pointer'><#% if community_offer.publish %>    true
                        <#% else %>
                          false
                        <#% end %>  
                        </td> -->
                        <td>
                          <!-- <div class="mr-2 mb-2 btn btn-link" onclick="$('#myModal').modal('show');">Delete</div> -->
                          <div class="mr-2 mb-2 btn btn-link delte" data-target ="#myModal_<%= community_offer.id %>" data-toggle = "modal">Delete</div>

                        </td> 
                       <!--  <td><%#= link_to 'Edit', edit_community_path(community) %></td> -->
                      </tr>
                      <div class="modal fade" id="myModal_<%= community_offer.id %>" role="dialog">
                        <div class="modal-dialog modal-sm">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Delete this offer?</h4>
                              <button type="button" class="close close1" data-dismiss="modal">&times;</button>
                              
                            </div>
                            <div class="modal-body">
                              <p>Are you sure you want to delete <%= community_offer.title %> ? This is permanent and cannot be reversed.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default1" data-dismiss="modal">CANCEL</button> 
                              <%= link_to "DELETE", community_offer_path(community_offer.id) , method: :delete, class: "mr-2 mb-2 btn btn-danger"%>     
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="display-type"></div>
</div>

<script type="text/javascript">
  $("td[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>