<div class="container">
  <% if @community_offer.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@community_offer.errors.count, "error") %> prohibited
        this community_offer from being saved:
      </h2>
      <ul>
        <% @community_offer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for @community_offer do |f| %>
    <%= render partial: 'form', locals: {community_offer: @community_offer, f: f}%>
  <% end %>
</div>
