<nav class="navbar navbar-expand-md navbar-inverse navbar-custom">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> -->
       <% if session[:user_email].present? %>
          <li class="nav-item">
           <%=link_to "Communities", communities_path, class: "nav-link"%>
          </li>
          <li class="nav-item">
           <%=link_to "Home for sale", '#', class: "nav-link"%>
          </li>
          <li class="nav-item">
           <%=link_to "Events",'#', class: "nav-link"%>
          </li>
          <li class="nav-item">
           <%=link_to "Offers",new_community_offer_path, class: "nav-link"%>
          </li>
          <li class="nav-item">
           <%=link_to "PDF info packs", '#', class: "nav-link"%>
          </li>
          <li class="nav-item">
           <%=link_to "Categories", '#', class: "nav-link"%>
          </li>
      <%else%>
        <li class="nav-item">
           <%=link_to "Admin login" %>
        </li>
      <%end%>
    </ul>
    <% if session[:user_email].present? %>
      <form class="form-inline my-2 my-lg-0">
        <%=link_to "Admin logout", logout_admin_login_index_path, class: "nav-link"%>
      </form>
    <%end%>
  </div>
</nav>