<div class="all-wrapper menu-side">
  <div class="layout-w">
    <div class="menu-mobile menu-activated-on-click color-scheme-dark">
    </div>
    <div class="content-w">
      <ul class="breadcrumb">
        <% if @marketing_page.new_record? %>
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/marketing_pages">Marketing pages</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">New marketing page</a>
          </li>
        <% else %>
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/marketing_pages">Marketing pages</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Edit marketing pages</a>
          </li>
        <% end %>  
      </ul>
      <div class="content-i">
        <div class="content-box"><div class="row">
<div class="col-lg-12">
<div class="element-wrapper">
  <div class="element-box">
    <% if @marketing_page.new_record? %>
      <div class="form-group">
        <p class="addnewcomm">New marketing page</p>
      </div> 
    <% else %>
      <div class="form-group">
        <p class="addnewcomm">Edit marketing page</p>
      </div>
    <% end %>    
      <div class="form-group">
        <label for="" class="enter-a-community-na">Title</label>
        <%= f.text_field :title, class: "form-control which-part-will-be-c", placeholder: "Page title", required: true %>
      </div>

      <div class="form-group">
        <label for="" class="enter-a-community-na">Slug/url</label>
        <% if @marketing_page.new_record? %>
        <%= f.text_field :slug, class: "form-control which-part-will-be-c", placeholder: "Page url", required: true %>
      <% else %>
        <%= f.text_field :slug, class: "form-control which-part-will-be-c", placeholder: "Page url", required: true, disabled: true  %>
      <% end %> 
      </div>

      <div class="form-group">
        <label for="" class="enter-a-community-na">Content</label>
        <%= f.text_area :content, class: "form-control which-part-will-be-c", placeholder: "Page content", required: true %>
      </div>

      <div class="form-group">
        <label for="" class="enter-a-community-na">SEO Title</label>
        <%= f.text_field :seo_title, class: "form-control which-part-will-be-c", placeholder: "Seo title", required: true %>
      </div>

      <div class="form-group">
        <label for="" class="enter-a-community-na">Meta Description</label>
        <%= f.text_area :meta_description, class: "form-control which-part-will-be-c", placeholder: "Write about here of meta description", required: true %>
      </div>
      <% if @marketing_page.new_record? %>
        <div class="form-buttons-w">
          <%= f.submit :"SAVE", class: "mr-2 mb-2 btn btn-success draft1" %>
        </div>
      <% else %>
        <%#= f.submit :"UPDATE", class: "button-background" %>
        <%= f.submit :"SAVE", class: "mr-2 mb-2 btn btn-succ update" %>
        <%= link_to "DELETE", marketing_page_path(marketing_page.id) , method: :delete, class: "mr-2 mb-2 btn btn-dan update1"%>
      <% end %>   
  </div>
</div>
</div>
</div>
        </div>
      </div>
    </div>
  </div>
</div>