<div class="container">
  <% if @marketing_page.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@marketing_page.errors.count, "error") %> prohibited
        this page from being saved:
      </h2>
      <ul>
        <% @marketing_page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for @marketing_page do |f| %>
    <%= render partial: 'form', locals: {marketing_page: @marketing_page, f: f}%>
  <% end %>
</div>




