<div class="all-wrapper menu-side">
  <div class="layout-w">
    <div class="content-w">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/marketing_pages/new">Marketing pages</a>
        </li>
      </ul>
      <div class="content-i">
        <div class="content-box">
          <div class="element-wrapper">
            <span class="hed">Marketing pages</span>
            <a href="/marketing_pages/new" class="mr-2 mb-2 btn btn-outline-primary add-community" role="button">+ ADD NEW PAGES</a>
            <div class="element-box box">
              <div class="table-responsive full-width-tab">
                <table id="dataTable1" width="100%" class="table table-striped table-lightfont">
                  <thead>
                    <tr class="ss1">
                      <th>Title</th>
                      <th>Slug</th>
                      <th>Content</th>
                      <th>SEO Title</th>
                      <th>Meta Description</th>
                      <th>Action</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                   <% @marketing_pages.each do |marketing_page| %>
                      <tr>
                        <td data-link="<%= edit_marketing_page_path(marketing_page) %>", style='cursor: pointer'>
                          <%= marketing_page.title %>      
                        </td>
                        <td data-link="<%= edit_marketing_page_path(marketing_page) %>", style='cursor: pointer'>
                          <%= marketing_page.slug %>      
                        </td>
                        <td data-link="<%= edit_marketing_page_path(marketing_page) %>", style='cursor: pointer'>
                          <%= marketing_page.content %>      
                        </td>
                        <td data-link="<%= edit_marketing_page_path(marketing_page) %>", style='cursor: pointer'>
                          <%= marketing_page.seo_title %>      
                        </td>
                         <td data-link="<%= edit_marketing_page_path(marketing_page) %>", style='cursor: pointer'>
                          <%= marketing_page.meta_description %>      
                        </td>
                        <td>
                          <div class="mr-2 mb-2 btn btn-link delte" data-target ="#myModal_<%= marketing_page.id %>" data-toggle = "modal">Delete</div>
                        </td> 
                       <td><%= link_to 'Show', marketing_page_path(marketing_page) ,class: "mr-2 mb-2 btn btn-link delte" %></td>
                      </tr>
                      <div class="modal fade" id="myModal_<%= marketing_page.id %>" role="dialog">
                        <div class="modal-dialog modal-sm">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Delete this page?</h4>
                              <button type="button" class="close close1" data-dismiss="modal">&times;</button>
                              
                            </div>
                            <div class="modal-body">
                              <p>Are you sure you want to delete <%= marketing_page.title %> ? This is permanent and cannot be reversed.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default1" data-dismiss="modal">CANCEL</button>
                              <%= link_to "DELETE", marketing_page_path(marketing_page.id) , method: :delete, class: "mr-2 mb-2 btn btn-danger"%>    
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="display-type"></div>
</div>

<script type="text/javascript">
  $("td[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>