<div class="all-wrapper menu-side">
  <div class="layout-w">
    <div class="content-w">
      <div class="content-i">
        <div class="content-box">
          <div class="element-wrapper">
            <h6>
              Marketing Page
            </h6>
      <p>
        <strong class="info">Title:</strong>
        <%= @marketing_page.title %>
      </p>

      <p>
        <strong class="info">Slug:</strong>
        <%= @marketing_page.slug %>
      </p>

      <p>
        <strong class="info">Content:</strong>
        <%= @marketing_page.content %>
      </p>

      <p>
        <strong class="info">SEO Title:</strong>
        <%= @marketing_page.seo_title %>
      </p>

      <p>
        <strong class="info">Meta Description:</strong>
        <%= @marketing_page.meta_description %>
      </p>
       <%= link_to 'Edit', edit_marketing_page_path(@marketing_page), class: 'btn btn-primary' %> 
       <%= link_to 'Back', marketing_pages_path, class: 'btn btn-primary'%>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



