/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap";
.nav-link {
 color: #fff; //red

  @include hover-focus {
    color: #fff; //green
  }  
} 

.navbar-custom {
    color: #FFFFFF;
    background-color: #000;
}

#error_explanation {
	color: red;
}

.community_icon {
	height: 100px;
	width: 100px;
}

.community_logo {
	height: 200px;
	width: 200px;
}

.community_image {
	height: 300px;
	width: 300px;
}