<div class="nested-fields">	
	<div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="" class="enter-a-community-na"> Attraction name*</label>
        <%= ff.text_field :name, class: "form-control which-part-will-be-c", placeholder: "Westfield shopping centre", required: "true" %>
        <div class="help-block form-text with-errors form-control-feedback"></div>
      </div>
      <%= ff.link_to_remove "x", class: "xatt"%>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="" class="enter-a-community-na">Upload Image*</label>
        <%-if ff.object.image? %>
        <br>
        <div class="img_activity">
          <div class="uploaded_activity_image">
            <%= cl_image_tag(ff.object.image_url(:thumb).sub! 'upload', 'upload/w_800,h_400,c_fill') %>
          </div>
          </br>
        </div>
          <%#= ff.file_field :image, class: "edit-img upload_widget_opener_imagepx", required: "true" %>
        <%-else %>
          <div class="uploaded_activity_image"></div>
          <%= ff.file_field :image, class: "edit-img upload_widget_opener_image_activity" %>
        <% end %>
        <div class="views">
        <p class="min-width-450-px-in-a">Min. 716px width x 434px height</p></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="" class="enter-a-community-na">Description</label>
        <%= ff.text_field :distance, class: "form-control which-part-will-be-c ", placeholder: "10 minutes drive" %>
        <div class="help-block form-text with-errors form-control-feedback"></div>
      </div>
    </div>
  </div>	
</div>