<div class="nested-fields">	
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">  
        <%-if image.object.community_images? %>
        <br>
        <div class="community_images">
          <div class="uploaded_community_image">
            <%= cl_image_tag(image.object.community_images_url(:thumb).sub! 'upload', 'upload/w_800,h_400,c_fill') %>
          </div>
          <br>
        </div>
      <%#= image.file_field :community_images, class: "edit-img upload_widget_opener_images" , required: "true" %>
        <%-else %>
          <div class="uploaded_community_image"></div>
          <%= image.file_field :community_images, class: "edit-img upload_widget_opener_image_comm_image" %>
          <div class="views">
            Add images of any size here
          </div>
        <% end %>
      </div>
      <%= image.link_to_remove "x", class: "x"%>
    </div>
  </div>
</div>
