<div class="nested-fields">	
	<div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="" class="enter-a-community-na">
        <%#= ff.link_to_remove "x", class: "x"%>
      Facility name</label>
        <%= ff.text_field :name, class: "form-control which-part-will-be-c", placeholder: "Swimming pool"%>
        <div class="help-block form-text with-errors form-control-feedback"></div>
      </div>
      <%= ff.link_to_remove "x", class: "x"%>
    </div>
    <div class="col-sm-4">
      <div class="form-group">  
        <label for="" class="enter-a-community-na">Upload Image</label>
        <%-if ff.object.image? %>
          <br>
          <div class="img_facility">
            <div class="uploaded_facility_image">
              <%= cl_image_tag(ff.object.image_url(:thumb).sub! 'upload', 'upload/w_800,h_400,c_fill') %>
            </div>
          </div>
          <%#= ff.file_field :image, class: "edit-img upload_widget_opener_imagemx", required: "true" %>
        <%-else %>
          <div class="uploaded_facility_image"></div>
          <%= ff.file_field :image, class: "edit-img upload_widget_opener_image_facility" %>
        <% end %>
        <div class="views">
        <p class="min-width-450-px-in-a">Min. 716px width x 434px height</p></div>
      </div>
    </div>
  </div>
</div>