<div class="nested-fields">	
	<div class="row">
    <div class="col-sm-12">
      <div class="field">
        <%= facebook.text_field :link, class: "form-control which-part-will-be-c", placeholder: "https://www.facebook.com/Aspley.Gateway/" %><br>
      </div>
    </div>  
  </div>
  <!-- <div class="row">
    <div class="col-sm-12">
      <div class="field col-sm-4 btnx">
        <%#= facebook.link_to_remove "x", class: "xface"%>
      </div>
    </div>  
  </div>	 -->
</div>