<script>
  var why_params = {cloud_name: 'gateway-lifestyle', upload_preset: 'ecaya9l1', 
  cropping: 'server', folder: 'user_photos', cropping_show_dimensions: "true", theme: "white",gravity: "custom", moderation: "webpurify",cropping_default_selection_ratio: '1.0', multiple: false,client_allowed_formats: ['jpg', 'png'],min_image_width: 1140};
  var facility_params = {cloud_name: 'gateway-lifestyle', upload_preset: 'ecaya9l1', 
  cropping: 'server', folder: 'user_photos', cropping_show_dimensions: "true", theme: "white",gravity: "custom", moderation: "webpurify",cropping_default_selection_ratio: '1.0', multiple: false,client_allowed_formats: ['jpg', 'png'],min_image_height: 434, min_image_width: 716};
  var activity_params = {cloud_name: 'gateway-lifestyle', upload_preset: 'ecaya9l1', 
  cropping: 'server', folder: 'user_photos', cropping_show_dimensions: "true", theme: "white",gravity: "custom", moderation: "webpurify",cropping_default_selection_ratio: '1.0', multiple: false,client_allowed_formats: ['jpg', 'png'],min_image_height: 434, min_image_width: 716};
  var community_params = {cloud_name: 'gateway-lifestyle', upload_preset: 'ecaya9l1', 
  cropping: 'server', folder: 'user_photos', cropping_show_dimensions: "true", theme: "white",gravity: "custom", moderation: "webpurify",cropping_default_selection_ratio: '1.0', multiple: false,client_allowed_formats: ['jpg', 'png']};

</script>
<div class="all-wrapper menu-side">
  <div class="layout-w">
    <div class="menu-mobile menu-activated-on-click color-scheme-dark">
    </div>
    <div class="content-w">
      <ul class="breadcrumb">
        <% if @communities.new_record? %>
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/communities">Communities</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">New community</a>
          </li>
        <% else %>
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/communities">Communities</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Edit community</a>
          </li>
        <% end %>  
      </ul>
      <div class="content-i">
        <div class="content-box"><div class="row">
<div class="col-lg-12">
<div class="element-wrapper">
  <div class="element-box">
    <% if @communities.new_record? %>
      <div class="form-group">
        <p class="addnewcomm">Add a new community</p>
      </div>
    <% else %>
      <div class="form-group">
        <p class="addnewcomm">Edit community</p>
      </div>
    <% end %>    
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="" class="enter-a-community-na">Enter a community name*</label>
            <%= f.text_field :first_name, class: "form-control which-part-will-be-c", placeholder: "First half (coloured part)(Eg: Aspley)", required: "true" %>
          </div>
        </div>
        <div class="col-sm-6">
         <div class="form-group">
            <label for="">  </label>
            <%= f.text_field :last_name, class: "form-control which-part-will-be-c", placeholder: "Second half(Eg: by Gateway Lifestyle)", required: "true" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="short-name">Short name*</label>
        <%= f.text_field :short_name, class: "form-control which-part-will-be-c", placeholder: "Used for the URL and in other places (Eg: Aspley)", :onfocusout=> "check_short()", required: "true" %>
        <div id="short_name">
          <p class="vali">Short name is already present</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="" class="enter-a-community-na">Community primary colour hex code*</label>
            <%= f.text_field :primary_color, class: "form-control which-part-will-be-c", minlength: "7", placeholder: "#02654f", required: "true" %>
          </div>
        </div>
        <div class="col-sm-6">
         <div class="form-group">
            <label for="" class="enter-a-community-na">Community secondary colour hex code*</label>
            <%= f.text_field :secondary_color, class: "form-control which-part-will-be-c ", minlength: "7",placeholder: "#02654f", required: "true" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%-if @communities.community_logo? %>
              <label for="" class="enter-a-community-na">  Upload community logo*</label>
              <br>
              <div id="uploaded_logo">
                <%= cl_image_tag(@communities.community_logo_url(:thumb).sub! 'upload', 'upload/w_400,h_400,c_fill') %>
              </div>
              </br>
              <input id="upload_widget_opener_logo"  accept="image/png" type="button" name="community[community_logo]" aria-required="true" value="upload">
            <%-else %>
              <label for="" class="enter-a-community-na">Community logo*</label>
              <div id="uploaded_logo"></div>
              <%= f.file_field :community_logo, class: "pdffile", id: "upload_widget_opener_logo", style: "visibility:hidden;" %>
            <% end %>
            <div class="views">
            <p class="min-width-450-px-in-a">Minimum 450px width png</p></div>
          </div>
        </div>
        <div class="col-sm-6">
         <div class="form-group">
            <%-if @communities.community_icon? %>
              <label for="" class="enter-a-community-na">  Upload community icon*</label>
              <br>
              <div id="uploaded_icon">
                <%= cl_image_tag(@communities.community_icon_url(:thumb).sub! 'upload', 'upload/w_400,h_400,c_fill') %>
              </div>
              </br>
              <input id="upload_widget_opener1"  accept="image/png" type="button" name="community[community_icon]" aria-required="true" value="upload">
            <%-else %>
              <label for="" class="enter-a-community-na">Community icon*</label>
              <div id="uploaded_icon"></div>
              <%= f.file_field :community_icon, class: "pdffile", id: "upload_widget_opener1", style: "visibility:hidden;" %>
            <% end %>
            <div class="views">
            <p class="min-width-450-px-in-a">Minimum 200px x 200px png</p></div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="enter-a-community-na"> Street address*</label>
        <%= f.text_field :street_address, class: "form-control which-part-will-be-c", placeholder: "Start entering the address", id: "location1", required: "true" %>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="" class="enter-a-community-na">Suburb</label>
            <%= f.text_field :suburb, class: "form-control which-part-will-be-c", placeholder:"Aspley" %>
          </div>
        </div>
        <div class="col-sm-6">
         <div class="form-group">
          <label for="" class="enter-a-community-na"> State</label>
          <%= f.select :state, Community.state_names.keys.to_a.map { |k| [ k] }, {}, class: "form-control which-part-will-be-c" %>
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="" class="enter-a-community-na">Postcode</label>
            <%= f.text_field :post_code, class: "form-control which-part-will-be-c", placeholder:"2000" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="" class="enter-a-community-na">Homes from</label>
            <%= f.text_field :home_from, class: "form-control which-part-will-be-c", placeholder:"$100,000" %>
          </div>
          <div class="vie">
            <p class="min-width-450-px-in-a">This amount will be displayed in the 'at a glance' area. If no amount is entered, this will be hidden.</p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="enter-a-community-na">Lifestyle category</label>
        
        <%= collection_select(:community, :community_category_ids, CommunityCategory.all, :id,  :title,{:selected => @communities.community_category_ids},
         {:multiple => true,:class => "form-control select2 which-part-will-be-c", :name=>'community[community_category_ids][]'}) %>
      </div>
      <div class="form-group">
        <label>Community Title*</label>
        <%= f.text_field :community_title, class: "form-control which-part-will-be-c", placeholder: "Eg: Live, love and belong.", required: "true" %>
      </div>
      <div class="form-group">
        <label>Community Description*</label>
        <%= f.text_area :community_description, class: "form-control description which-part-will-be-c", placeholder: "Add a brief explanation about this community", required: "true" %>
      </div>
      <fieldset class="form-group">
        <legend><span class="sales-person ">Sales person</span></legend>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="" class="short-name"> Full Name*</label>
              <%= f.text_field :salesperson_name, class: "form-control which-part-will-be-c", placeholder: "Eg: Jenny Smith", required: "true" %>
              <div class="help-block form-text with-errors form-control-feedback"></div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="" class="short-name"> Phone*</label>
              <%= f.text_field :phone, class: "form-control which-part-will-be-c", placeholder: "Direct or general number", required: "true" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for=""> Email*</label>
              <%= f.text_field :email , class: "form-control which-part-will-be-c", placeholder: "Eg:jenny@gty.com.au", required: "true" %>
              <div class="help-block form-text with-errors form-control-feedback"></div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="" class="enter-a-community-na">Sales person image*</label>
              <%-if @communities.salesperson_image? %>
                <br>
                <div id="uploaded_sales">
                  <%= cl_image_tag(@communities.salesperson_image_url(:thumb).sub! 'upload', 'upload/w_400,h_400,c_fill') %>
                </div>
                </br>
                <input id="upload_widget_opener2" accept="image/png" type="button" name="community[salesperson_image]" aria-required="true" value="upload">
              <%-else %>
                <div id="uploaded_sales"></div>
                <%= f.file_field :salesperson_image, class: "pdffile", id: "upload_widget_opener2", style: "visibility:hidden;" %>
              <% end %>
              <div class="views">
                <p class="min-width-450-px-in-a">Minimum 400px x 400px png</p>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <legend><span class="sales-person">Community images</span></legend>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="" class="enter-a-community-na">Upload featured image*</label>
              <%-if @communities.featured_image? %>
                <br>
                <div id="uploaded_featured">
                  <%= cl_image_tag(@communities.featured_image_url(:thumb).sub! 'upload', 'upload/w_1030,h_686,c_fill') %>
                </div>
                </br>
                <input id="upload_widget_opener3" accept="image/png" type="button" , name="community[featured_image]" aria-required="true" value="upload">
              <%-else %>
                <div id="uploaded_featured"></div>
                <%= f.file_field :featured_image, class: "pdffile", id: "upload_widget_opener3", style: "visibility:hidden;" %>
              <% end %>
              <div class="views">
                <p class="min-width-450-px-in-a">Min. 1280px w x 562px h. Recommended 1920px width x 843px height</p></div>
            </div>
          </div>
          <div class="col-sm-6">
            <fieldset class="form-group">
              <div id="community_images">
                <label for="" class="enter-a-community-na">Upload other community images</label>
                <%= f.fields_for :community_images, @communities.community_images do |image| %>
                  <%= render 'community_images_form', image: image %>
                <% end %>
                <div class="links">
                  <div class="links theme-btn">
                    <br>
                    <%= f.link_to_add 'Add another', :community_images, id: "community_image2",class: "add_community"%>
                  </div>
                </div>  
            </fieldset>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <legend><span class="sales-person">Why live here?</span></legend>
        <div id="why_live_heres">
          <%= f.fields_for :why_live_heres, @communities.why_live_heres.present? ? @communities.why_live_heres.order(:created_at) : @communities.why_live_heres.build do |ffff| %>
            <%= render 'why_live_heres_form', ffff: ffff %>
          <% end %>
          <div class="links">
            <div class="links theme-btn">
              <%= f.link_to_add 'Add another', :why_live_heres ,class: "add_anoth",:id=>'form_iddd'%>
              <div class="key"><p class="keys">You can add up to 10 key benefits.</p></div>
            </div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <legend><span class="sales-person">Community masterplan</span></legend>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="" class="enter-a-community-na">Masterplan image</label>
              <%-if @communities.masterplan_image? %>
                <br>
                <div id="uploaded_master_image">
                  <%= cl_image_tag(@communities.masterplan_image_url(:thumb).sub! 'upload', 'upload/w_800,h_400,c_fill') %> 
                </div>
                </br>
                <input id="upload_widget_opener6"  accept="image/png" type="button" name="community[masterplan_image]" aria-required="true" value="upload">
              <%-else %>
                <div id="uploaded_master_image"></div>
                <input id="upload_widget_opener6"  accept="image/png" type="button" name="community[masterplan_image]" aria-required="true" value="upload">
              <% end %>
              <div class="views">
              <p class="min-width-450-px-in-a">Min. 200px height. Recommended 400px height.</p></div>
              <div class="help-block form-text with-errors form-control-feedback"></div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="" class="enter-a-community-na">Masterplan legend image</label>
              <%-if @communities.legend_image? %>
                <br>
                <div id="uploaded_legend_image">
                  <%= cl_image_tag(@communities.legend_image_url(:thumb).sub! 'upload', 'upload/w_800,h_400,c_fill') %> 
                </div>
                </br>
                <input id="upload_widget_opener7"  accept="image/png" type="button" name="community[legend_image]" aria-required="true" value="upload">
              <%-else %>
                <div id="uploaded_legend_image"></div>
                <input id="upload_widget_opener7"  accept="image/png" type="button" name="community[legend_image]" aria-required="true" value="upload">
              <% end %>
              <div class="views">
              <p class="min-width-450-px-in-a">Min. 220px width. Recommended 440px width.</p></div>
              <div class="help-block form-text with-errors form-control-feedback"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group file">
              <%-if @communities.masterplan_pdf? %>
                <label for="" class="enter-a-community-na">Masterplan downloadable PDF</label>
                <iframe src=<%= @communities.masterplan_pdf %> width="600" height="180" style="border: none;"> </iframe>
                <label for="community_masterplan_pdf" class="cloudinaryy click-here-to-upload">CLICK HERE TO UPLOAD</label>
                <%= f.file_field :masterplan_pdf, class: "pdffile", id: "community_masterplan_pdf", style: "visibility:hidden;"%>
                <p class="file-name" style="display: none;"></p>
                <div class="vie">
                <p class="min-width-450-px-in-a" >This is the downloadable PDF</p></div>
              <%-else %>
                <label for="" class="enter-a-community-na">Masterplan downloadable PDF</label>
                <img id="img_prev" src="#" alt="your image" style="display: none;" />
                <label for="community_masterplan_pdf" class="cloudinaryy click-here-to-upload">CLICK HERE TO UPLOAD</label>
                <%= f.file_field :masterplan_pdf, class: "pdffile", id: "community_masterplan_pdf", style: "visibility:hidden;", accept: "application/pdf,image/jpeg,image/png" %>
              <p class="file-name" style="display: none;"></p>
                <div class="vie">
                <p class="min-width-450-px-in-a" >This is the downloadable PDF</p></div>
              <% end %>
              <div class="help-block form-text with-errors form-control-feedback"></div>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <legend><span class="sales-person">Link an offer to this community</span></legend>
        <div class="form-group">
        <%= f.select :community_offer_id, CommunityOffer.all.collect.map {|p| [ p.title, p.id ] }, {include_blank: true},   class: "form-control" %>
      </div>
      </fieldset>
      <fieldset class="form-group">
        <legend><span class="sales-person">Link the infopack to this community</span></legend>
        <div class="form-group">
        <%= f.select :pdf_info_pack_id, PdfInfoPack.where(visibility: true).collect.map {|p| [ p.name, p.id ] }, {include_blank: true} , class: "form-control which-part-will-be-c" %>
      </div>
      </fieldset>
      <fieldset class="form-group">
        <legend><span class="sales-person">Facilities</span></legend>
        <div id="community_facilities">
          <%= f.fields_for :community_facilities, @communities.community_facilities.present? ? @communities.community_facilities.order(:created_at) : @communities.community_facilities.build do |ff| %>
            <%= render 'community_facilities_form', ff: ff %>
          <% end %>
          <div class="links">
          <div class="links theme-btn">
            <%= f.link_to_add 'Add another',:community_facilities,class: "add_facility"%>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <legend><span class="sales-person">What's nearby?</span></legend>
         <div id="activities">
          <%= f.fields_for :activities, @communities.activities.present? ? @communities.activities.order(:created_at) : @communities.activities.build do |ff| %>
            <%= render 'activities_form', ff: ff %>
          <% end %>
          <div class="links">
          <div class="links theme-btn">
            <%= f.link_to_add 'Add another', :activities, class: "add_activities" %>
          </div>
        </div>
        </div>
      </fieldset>
      <% unless @communities.new_record? %>
        <br>
        <legend><span>Events</span></legend>
        <table id="dataTable1" class="table table-striped table-lightfont">
          <thead>
            <tr>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <% @events.each do |event| %>
              <tr>
                <td><%= event.start_time.strftime("%b %d, %Y %I:%M %p") %></td>
                <td><%= event.end_time.strftime("%b %d, %Y %I:%M %p") %></td>
                <td><%= event.name %></td>
              </tr>
            <% end %>
          </tbody>
          </table>
      <% end %>
     <fieldset class="form-group">
        <legend><span class="sales-person">Community Facebook URL</span></legend>
        <div id="activities">
          <% @communities.facebook_links.build unless @communities.facebook_links.present?%>
          <%= f.fields_for :facebook_links do |facebook| %>
            <%= render 'facebook_links_form', facebook: facebook %>
          <% end %>
         <!--  <%# if @community.facebook_links.present? %>
            <div class="links">
              <div class="links theme-btn">
                <%#= f.link_to_add 'Add another',:facebook_links,:id=>'form_iddd1' %>
              </div>
            </div>
          <%# end %>   -->
        </div>
      </fieldset>
      <fieldset class="form-group">
        <legend><span class="sales-person ">SEO</span></legend>
        <div class="form-group">
          <label for="">SEO title (Recommended less than 60 characters)</label>
          <%= f.text_field :seo_title, class: "form-control which-part-will-be-c", placeholder: "Type something..." %>
        </div>
        <div class="form-group">
          <label for="" class= "enter-a-community-na">Meta description (Recommended less than 160 characters)</label>
          <%= f.text_area :meta_description, class: "form-control which-part-will-be-c", placeholder: "Type something...",  rows: "6" %>
        </div>
      </fieldset>
      <div class="form-group">
        <%= f.label(:featured) %>
        <%= f.check_box(:featured) %> 
      </div>  
      <% if @communities.new_record? %>
        <div class="form-buttons-w">
          <%= f.submit :"SAVE AND PUBLISH", class: "mr-2 mb-2 btn btn-success draft1" , name: "publish_submit", id: "pub" %>
          <%= f.submit :"SAVE AS DRAFT",class: "mr-2 mb-2 btn btn-default draft", id: "draf" %>
        </div>
      <% else %>
        <%= f.submit :"SAVE AND PUBLISH", class: "mr-2 mb-2 btn btn-success draft1" , name: "publish_submit", id: "pub" %>
        <%= f.submit :"SAVE AS DRAFT",class: "mr-2 mb-2 btn btn-default draft", id: "draf" %>
        <%= link_to "DELETE", community_path(community.id) , method: :delete, class: "mr-2 mb-2 btn btn-dan update1" %>
      <% end %>  
  </div>
</div>
</div>
</div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#form_iddd").click(function(){
  if ($("#why_live_heres .fields:visible").length > 9){
      alert("Maximum limit of 10 points reached");
      return false;
    }
  });

  $("#short_name").hide();
   $('#upload_widget_opener_logo').cloudinary_upload_widget(
    { cloud_name: 'gateway-lifestyle', upload_preset: 'ecaya9l1',       cropping: 'server', folder: 'user_photos',cropping_show_dimensions: "true",      theme: "white",gravity: "custom",      moderation: "webpurify", client_allowed_formats: 'png', min_image_width: '450', cropping_default_selection_ratio: '1.0', multiple: false },
      function(error, result) { 
        if(error == null){
          $("#uploaded_logo").html('<img src="'+result[0]["thumbnail_url"]+'">')
        }
      }); 

    $('#upload_widget_opener1').cloudinary_upload_widget(
    { cloud_name: 'gateway-lifestyle', upload_preset: 'ecaya9l1',       cropping: 'server', folder: 'user_photos',cropping_show_dimensions: "true",      theme: "white",      gravity: "custom",      moderation: "webpurify", client_allowed_formats: 'png', min_image_width: '200',min_image_height: '200',cropping_default_selection_ratio: '1.0',cropping_validate_dimensions: true },
      function(error, result) { 
        if(error == null){
          $("#uploaded_icon").html('<img src="'+result[0]["thumbnail_url"]+'">')
        }
      }); 

    $('#upload_widget_opener2').cloudinary_upload_widget(
    { cloud_name: 'gateway-lifestyle', upload_preset: 'ecaya9l1',       cropping: 'server', folder: 'user_photos',      cropping_show_dimensions: "true",theme: "white",gravity: "custom",moderation: "webpurify",client_allowed_formats: 'png',min_image_width: '400',min_image_height: '400',cropping_default_selection_ratio: '1.0', multiple: false },
      function(error, result) { 
        if(error == null){
          $("#uploaded_sales").html('<img src="'+result[0]["thumbnail_url"]+'">')
        }
      }); 
    $('#upload_widget_opener3').cloudinary_upload_widget(
    { cloud_name: 'gateway-lifestyle', upload_preset: 'ecaya9l1',       cropping: 'server', folder: 'user_photos',      cropping_aspect_ratio: "2",      cropping_show_dimensions: "true",      theme: "white",gravity: "custom",client_allowed_formats: ['jpg', 'png'], min_image_width: '1280',min_image_height: '562',     moderation: "webpurify",cropping_default_selection_ratio: '1.0', multiple: false },
      function(error, result) { 
        if(error == null){
          $("#uploaded_featured").html('<img src="'+result[0]["thumbnail_url"]+'">')
        }
      }); 
   
  $('#upload_widget_opener6').cloudinary_upload_widget(
    { cloud_name: 'gateway-lifestyle', upload_preset: 'ecaya9l1',       cropping: 'server', folder: 'user_photos',      cropping_show_dimensions: "true",client_allowed_formats: ['jpg', 'png'],min_image_height: '200',      theme: "white",gravity: "custom",      moderation: "webpurify",cropping_default_selection_ratio: '1.0', multiple: false },
      function(error, result) { 
        if(error == null){
          $("#uploaded_master_image").html('<img src="'+result[0]["thumbnail_url"]+'">')
        }
      });
  
  $('#upload_widget_opener7').cloudinary_upload_widget(
    { cloud_name: 'gateway-lifestyle', upload_preset: 'ecaya9l1',       cropping: 'server', folder: 'user_photos',      cropping_show_dimensions: "true",client_allowed_formats: ['jpg', 'png'],min_image_width: '220',theme: "white",gravity: "custom",      moderation: "webpurify",cropping_default_selection_ratio: '1.0', multiple: false },
      function(error, result) { 
        if(error == null){
          $("#uploaded_legend_image").html('<img src="'+result[0]["thumbnail_url"]+'">')
        }
      });
  
  $('input[type="file"]').change(function(){
    var file_name = $(this).val().replace(/^C:\\fakepath\\/i, '');
    $('.file-name').show();
    $('.file-name').html(file_name);
  });
  
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2er0kKyytdF9afNOBDEAVsJvA93oM5WE&libraries=places&callback=initAutocomplete"
-        async defer></script>

  <script type="text/javascript">
  var geocoder;
  var placeSearch, autocomplete;
  var componentForm = {
    street_number: 'short_name',
    route: 'long_name',
    locality: 'long_name',
    administrative_area_level_1: 'short_name',
    country: 'long_name',
    postal_code: 'short_name'
  };

  function initAutocomplete() {
    // Create the autocomplete object, restricting the search to geographical
    // location types.
    autocomplete = new google.maps.places.Autocomplete(
        /** @type {!HTMLInputElement} */(document.getElementById('location1')),
        {types: ['geocode']});

    // When the user selects an address from the dropdown, populate the address
    // fields in the form.
    autocomplete.addListener('place_changed', fillInAddress);
  }

  function fillInAddress() {
     var location = autocomplete.getPlace();
geocoder = new google.maps.Geocoder();
lat = location['geometry']['location'].lat();
lng = location['geometry']['location'].lng();
var state = null;
var latlng = new google.maps.LatLng(lat,lng);

    geocoder.geocode({'latLng': latlng}, function(results) {
  for(i=0; i < results.length; i++){
      for(var j=0;j < results[i].address_components.length; j++){
          for(var k=0; k < results[i].address_components[j].types.length; k++){
              if(results[i].address_components[j].types[k] == "postal_code"){
                  zipcode = results[i].address_components[j].short_name;
                  $('#community_post_code').val(zipcode);    
              }
              if(results[i].address_components[j].types[k] == "locality"){
                  sublocality = results[i].address_components[j].short_name;
                  $('#community_suburb').val(sublocality);    
              }
              if(results[i].address_components[j].types[k] == "administrative_area_level_1"){
                if (!state){
                
                  state = results[i].address_components[j].long_name;
                  if ($("#community_state option[value='"+ state +"']").length == 0){
                    $('<option>').val(state).text(state).appendTo('#community_state'); 
                    }
                    $("#community_state").val(state);
                  }
              }
          }
      }
  }
});

  }

  // Bias the autocomplete object to the user's geographical location,
  // as supplied by the browser's 'navigator.geolocation' object.
  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        var circle = new google.maps.Circle({
          center: geolocation,
          radius: position.coords.accuracy
        });
        autocomplete.setBounds(circle.getBounds());
      });
    }
  }

  var show_cloud_thumb = function(error, result) { 
      if(error == null){
        cloundinaryButton.parent().find('.thumbWhy').remove();
        cloundinaryButton.parent().append('<img class = "thumbWhy" src="'+result[0]["thumbnail_url"]+'">')
      } 
    }

  $('.upload_widget_opener_image_why').cloudinary_upload_widget(
    why_params, show_cloud_thumb);
  $('.upload_widget_opener_image_facility').cloudinary_upload_widget(
    facility_params,show_cloud_thumb);
  $('.upload_widget_opener_image_activity').cloudinary_upload_widget(
    activity_params,show_cloud_thumb);
  $('.upload_widget_opener_image_comm_image').cloudinary_upload_widget(
    community_params,show_cloud_thumb);

  function show_element(option,object)
  {
    $(object).next().next().next().show();
    if(option == 'image')
    {
      $("#"+ $(object).attr("id").replace("true","false")).next().next().next().hide();
    }
    else
    {
      $("#"+ $(object).attr("id").replace("false","true")).next().next().next().hide();
    }
  }



$(document).on('nested:fieldAdded', function(event){
  // this field was just inserted into your form
  var field = event.field;

  if (field.find('.upload_widget_opener_image_why').length > 0) 
    field.find('.upload_widget_opener_image_why').cloudinary_upload_widget( why_params, show_cloud_thumb);
  
  if(field.find('.upload_widget_opener_image_facility').length > 0) 
    field.find('.upload_widget_opener_image_facility').cloudinary_upload_widget(
    facility_params,show_cloud_thumb);

  if(field.find('.upload_widget_opener_image_activity').length > 0) 
    field.find('.upload_widget_opener_image_activity').cloudinary_upload_widget(
    activity_params, show_cloud_thumb);
  
  if(field.find('.upload_widget_opener_image_comm_image').length > 0) 
    field.find('.upload_widget_opener_image_comm_image').cloudinary_upload_widget(
    community_params,show_cloud_thumb);

  field.find('.cloudinary-button').on('click', function (e) {
    cloundinaryButton = $(this);});
  })

</script>