<div class="nested-fields" id="textbox_div">	
	<div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="" class="enter-a-community-na">title*</label>
        <%= ffff.text_field :title, class: "form-control which-part-will-be-c", required: "true" %>
      </div>
        <%= ffff.link_to_remove "x", class: "xwhy"%>
    </div>
    <div class="col-sm-4">
      <div class="form-group"> 
        <%= ffff.radio_button(:image_present, true, onClick: "show_element('image',this);") %>
        <%= ffff.label(:image_present_true, "Upload Image") %></br>
        <div class="show_upload_image" style="display: <%=ffff.object.image_present == true ? 'block' : 'none' %>">
          <%-if ffff.object.image? %>
            <div class="img_why_live">
              <div class="uploaded_why_image">
                <%= cl_image_tag(ffff.object.image_url(:thumb).sub! 'upload', 'upload/w_800,h_400,c_fill') %>
              </div>
              </br>
            </div>
          <%-else %>
            <div class="uploaded_why_image"></div> 
            <%= ffff.file_field :image, class: "edit-img upload_widget_opener_image_why" %>
          <% end %> 
          <div class="views">
          <p class="min-width-450-px-in-a">Minimum 1140px width.</p></div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= ffff.radio_button(:image_present, false, onClick: "show_element('video',this);") %>
				<%= ffff.label(:image_present_false, "Youtube URL") %></br>
        <div class="show_youtube_url" style="display: <%=ffff.object.image_present == false ? 'block' : 'none' %>">
          <%-if ffff.object.youtube_url_link? %>
  				  <div>
  				    <iframe width="100%" height="315" src="https://www.youtube.com/embed/<%= ffff.object.youtube_url_link %>" frameborder="0" allowfullscreen></iframe>
            </div>
            <%= ffff.text_field :youtube_url_link, class: "form-control which-part-will-be-c " %>
          <%-else %>
            <%= ffff.text_field :youtube_url_link, class: "form-control which-part-will-be-c " %>
          <% end %>
          <div class="vie">
            <p class="min-width-450-px-in-a" > Add YouTube videos in this format: https://www.youtube.com/embed/[VIDEO-ID]?rel=0&amp;showinfo=0</p></div>
          </div>
      </div>
    </div>
  </div>
  	<div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="" class= "enter-a-community-na">Description*</label>
        <%= ffff.text_area :description, class: "form-control description which-part-will-be-c", placeholder: "Add a brief explanation about this benefit", required: "true" %>
      </div>
    </div>
  </div>
	
</div>
<script type="text/javascript">
 $(function() {


  $(document).on('nested:fieldAdded', function(e) {
     e.stopImmediatePropagation();

    var link = $(e.currentTarget.activeElement);
    if (!link.data('limit')) {
      return;
    }
    if (link.siblings('.fields:visible').length >= link.data('limit')) {
      link.hide();
    }
  });

  $(document).on('nested:fieldRemoved', function(e) {
    if ($("#why_live_heres .fields:visible").length < 10){
      { $("#form_iddd").css('pointer-events','auto'); }
    }

    var link = $(e.target).siblings('a.add_nested_fields');
    if (!link.data('limit')) {
      return;
    }
    if (link.siblings('.fields:visible').length < link.data('limit')) {
      link.show();
    }
  });

 })
</script>