<div class="all-wrapper menu-side">
  <div class="layout-w">
    <div class="content-w">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/communities/new">Communities</a>
        </li>
      </ul>
      <div class="content-i">
        <div class="content-box">
          <div class="element-wrapper">
            <span class="hed">Communities</span>
            <a href="/communities/new" class="mr-2 mb-2 btn btn-outline-primary add-community" role="button">+ ADD NEW COMMUNITY</a>
            <div class="element-box box">
              <div class="table-responsive">
                <select id="sort_by" class="form-control col-md-2" style="float: right">
                  <option data-url="/communities" >Sort By</option>
                  <option data-url="/communities?sort_by=name" >Name</option>
                  <option data-url="/communities?sort_by=date" >Date Modify</option>
                </select>
                <table id="dataTableCommunity" class="table table-striped table-lightfont">
                  <thead>
                    <tr class="ss1">
                      <th>Featured</th>
                      <th>Name</th>
                      <th>Image</th>
                      <th>Address</th>
                      <th>LifestyleCategories</th>
                      <th>Salesperson</th>
                      <th>Visibility</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @communities.each do |community| %>
                      <tr>
                        <td><%= community.featured ? true : false %></td>
                         <td  data-link="<%= edit_community_path(community) %>", style='cursor: pointer'><%= community.first_name.truncate(50) %></td>
                        <td  data-link="<%= edit_community_path(community) %>", style='cursor: pointer'>
                          <div style="width: 150px !important;text-align: center;">
                            <% if community.community_logo.present? %>
                              <%= cl_image_tag(community.community_logo_url.to_s , :height => "80", :crop => :fill) %>
                            <% end %>
                          </div> 
                        </td>
                        <td  data-link="<%= edit_community_path(community) %>", style='cursor: pointer'><%= community.street_address.truncate(50) %></td>
                        <td  data-link="<%= edit_community_path(community) %>", style='cursor: pointer'><%= community.community_categories.map(&:title).join(",") %></td>
                        <td  data-link="<%= edit_community_path(community) %>", style='cursor: pointer'><%= community.salesperson_name.truncate(50) %></td>
                        <td data-link="<%= edit_community_path(community) %>", style='cursor: pointer'><% if community.publish %>    true
                        <% else %>
                          false
                        <% end %>  
                        </td>
                        <td>
                          <div class="mr-2 mb-2 btn btn-link delte" data-target ="#myModal_<%= community.id %>" data-toggle = "modal">Delete</div>
                        </td> 
                      </tr>
                      <div class="modal fade" id="myModal_<%= community.id %>" role="dialog">
                        <div class="modal-dialog modal-sm">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Delete this community?</h4>
                              <button type="button" class="close close1" data-dismiss="modal">&times;</button>
                              
                            </div>
                            <div class="modal-body">
                              <p>Are you sure you want to delete <%= community.first_name %> ? This is permanent and cannot reversed.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default1" data-dismiss="modal">CANCEL</button>
                              <%= link_to "DELETE", community_path(community.id) , method: :delete, class: "mr-2 mb-2 btn btn-danger"%>  
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="display-type"></div>
</div>


<script type="text/javascript">
  $("td[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>