<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
<div class="container">
  <% if @communities.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@communities.errors.count, "error") %> prohibited
        this community from being saved:
      </h2>
      <ul>
        <% @communities.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= nested_form_for @communities do |f| %>
    <%= render partial: 'form', locals: {community: @communities, f: f}%>
  <% end %>
</div>

<script type="text/javascript">
  var validator = $("#new_community").validate({
      errorElement: 'span',
      errorClass: 'desc',
      rules: {
        "community[first_name]": {
         required: true
        },
        "community[last_name]": {
         required: true
        },
        "community[short_name]": {
         required: true
        },
        "community[salesperson_name]": {
         required: true
        },
        "community[primary_color]": {
         required: true,
         minlength: 7,
         maxlength: 7
        },
        "community[secondary_color]": {
         required: true,
         minlength: 7,
         maxlength: 7
        },
        "community[street_address]": {
         required: true
        },
        "community[home_from]":{
          number: true
        },
        "community[email]": {
         required: true,
         email: true
        },
        "community[phone]": {
          required: true 
        },
        "community[community_title]": {
          required: true 
        },
        "community[community_description]": {
          required: true 
        },
        "community[why_live_heres_attributes][0][title]":{
          required: true
        },
        "community[why_live_heres_attributes][0][description]":{
          required: true
        }
      }    
    }); 

  function check_short() {
   $.ajax({
     url: '/communities/find_short_name',
     data: {short_name:  $('#community_short_name').val()},
     type: 'get',
     success: function(data, status){   
      if(data.short_name_exist){
        $("#short_name").show();
      }
      else{
        $("#short_name").hide();
      }  
      }
   })
 }

  $('#pub').click(function () {
    if($('#uploaded_logo').children().length == 0){
      alert("Please upload community logo.");
      return false;
    }
    if($('#uploaded_icon').children().length == 0){
      alert("Please upload community Icon.");
      return false;
    }
    if($('#uploaded_sales').children().length == 0){
      alert("Please upload Sales person image.");
      return false;
    }
    if($('#uploaded_featured').children().length == 0){
      alert("Please upload community featured image.");
      return false;
    }
    if($('.upload_widget_opener_image_activity').length > 0){
      alert("Please upload near by image.");
      return false;
    }
    $("#new_community").submit();  // validation test only
   });


$('#draf').click(function () {
    validator.settings.ignore = "*";
    if ( $('#community_short_name').val() == '') 
    {
      alert('Short name is required');
      return false;
    }
    else
      $("#new_community").submit();  // validation test only
  });

$('#new_community').on('keyup keypress', function(e) {
  var keyCode = e.keyCode || e.which;
  if (keyCode === 13) { 
    e.preventDefault();
    return false;
  }
});

var cloundinaryButton;
$(".cloudinary-button").on('click', function (e) {
  cloundinaryButton = $(this);
});


 </script>