
<p>
  <strong>Short Name:</strong>
  <%= @community.short_name %>
</p>
 
<p>
  <strong>Primary Color</strong>
  <%= @community.primary_color %>
</p>
<p>
  <strong>Secondary Color</strong>
  <%= @community.secondary_color %>
</p>
<p>
  <strong>Long Name</strong>
  <%= @community.long_name %>
</p>
<p>
  <strong>Community Logo</strong>
  <%= image_tag(@community.community_logo_url.to_s, class: "community_logo") %>
</p>

<p>
  <strong>Community Icon</strong>
  <%= image_tag(@community.community_icon_url.to_s, class: "community_icon") %>
</p>

<!-- <p>
  <strong>Community Infopack</strong>
  <% #= image_tag(@community.community_infopack_url.to_s, class: "community_infopack") %>
  <iframe src=<%= @community.community_infopack %> width="600" height="780" style="border: none;"> </iframe>
</p> -->


<%= link_to 'Edit', edit_community_path(@community) %>