<% flash.delete(:timedout).each do |k, message| %>
  <div class="alert alert-dismissable" id="successMessage">
    <button class="close" data-dismiss="alert" type="button">
      <span>&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <%= raw(message) %>
  </div>
<% end %>
<script type="text/javascript">
	$(document).ready(function(){
    setTimeout(function() {
      $('#successMessage').fadeOut('fast');
    }, 5000); // <-- time in milliseconds
  });
</script>