<div class="desktop-menu menu-side-w menu-activated-on-click">
  <div class="logo-w">
    <img src="/assets/logo.svg" style="height: 56.97px; width: 144px;">
  </div>
  <div class="menu-and-user">
    <div class="logged-user-w">
      <div class="logged-user-i">
        <div class="logged-user-info-w">
          <div class="logged-user-name username">
            Gateway Admin
          </div>
          <p class="adminis">ADMINISTRATOR</p>
        </div>
        <div class="logged-user-menu">
          <div class="logged-user-avatar-info">
            <div class="avatar-w">
              <img alt="" src="/assets/logo.svg" style="height: 56.97px; width: 144px;">
            </div>
            <div class="logged-user-info-w">
              <div class="logged-user-name">
                Admin
              </div>
            </div>
          </div>
          <div class="bg-icon">
            <i class="os-icon os-icon-wallet-loaded"></i>
          </div>
          <ul>
            <li>
              <%=link_to "Logout", logout_admin_login_index_path, class: "os-icon os-icon-signs-11"%>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="main-menu">
      <li class=<%= params[:controller] == "communities" ? 'active_link' : ''%>>
        <a href="/communities">
          <div class="icon-w">
            <div class="os-icon os-icon-window-content"></div>
          </div>
          <span>Communities</span></a>
      </li>
      <li class=<%= params[:controller] == "home_for_sales" ? 'active_link' : ''%>>
        <a href="/home_for_sales">
          <div class="icon-w">
            <div class="os-icon os-icon-window-content"></div>
          </div>
          <span class="homesale">Homes for sale</span></a>
      </li>

      <li class=<%= params[:controller] == "community_offers" ? 'active_link' : ''%>>
        <a href="/community_offers">
          <div class="icon-w">
            <div class="os-icon os-icon-window-content"></div>
          </div>
          <span class="events">Offers</span></a>
      </li>
      <li class=<%= params[:controller] == "community_categories" ? 'active_link' : ''%>>
        <a href="/community_categories">
          <div class="icon-w">
            <div class="os-icon os-icon-window-content"></div>
          </div>
          <span class="events">Categories</span></a>
      </li>
      <li class=<%= params[:controller] == "pdf_info_packs" ? 'active_link' : ''%>>
        <a href="/pdf_info_packs">
          <div class="icon-w">
            <div class="os-icon os-icon-window-content"></div>
          </div>
          <span class="events">Pdf Info Packs</span></a>
      </li>


      <li class=<%= params[:controller] == "events" ? 'active_link' : ''%>>
        <a href="/events">
          <div class="icon-w">
            <div class="os-icon os-icon-window-content"></div>
          </div>
          <span class="events">Events</span></a>
      </li>
      <li class=<%= params[:controller] == "home_layouts" ? 'active_link' : ''%>>
        <a href="/home_layouts">
          <div class="icon-w">
            <div class="os-icon os-icon-window-content"></div>
          </div>
          <span class="events">Home Layouts</span></a>
      </li>
    </ul>
  </div>
</div>