<!DOCTYPE html>
<html>
  <head>
    <title>GatewayLifestyle</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template language" name="keywords">
    <meta content="Tamerlan Soziev" name="author">
    <meta content="Admin dashboard html template" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/assets/favicon1.png" rel="shortcut icon">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">

    <%= stylesheet_link_tag 'admin', media: 'all' %>
    <%= javascript_include_tag 'admin' %>
   <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
    ga('create', 'UA-XXXXXXXX-X', 'auto');
    ga('send', 'pageview');
   </script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <div class="all-wrapper menu-side with-side-panel">
      <div class="layout-w">
        <%= render partial: "layouts/mobile_menu" %>
        <%= render partial: "layouts/menu_side" %>

        <div class="content-w">
          <%= render partial: "layouts/flash_message" %>
          <%= yield %>
        </div>
      </div>
      <div class="display-type"></div>
    </div>
  </body>
</html>