<!DOCTYPE html>
<html>
  <head>
    <title>GatewayLifestyle</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>
    <script src="https://widget.cloudinary.com/global/all.js" type="text/javascript"></script> 
    <script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
    <script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
  </head>

  <body>
    <header>
    <%=render 'layouts/header/header'%>
    </header>
    <main>
   <!--  <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
     <% #flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <%# end %> -->
    <div class="notifications-alerts">
      <%= render partial: "layouts/flash_message" %>
    </div>  
    <%= yield %>
    </main>
    <%=render 'layouts/footer/footer'%>
  </body>
</html>
